<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	 version="6.0">

    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.Phylix.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>Cuestionario</servlet-name>
        <servlet-class>com.Phylix.Cuestionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cuestionario</servlet-name>
        <url-pattern>/Cuestionario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Phylix.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Menus</servlet-name>
        <servlet-class>com.Phylix.Menus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menus</servlet-name>
        <url-pattern>/Menus</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CalculoComidas</servlet-name>
        <servlet-class>com.Phylix.CalculoComidas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculoComidas</servlet-name>
        <url-pattern>/CalculoComidas</url-pattern>
    </servlet-mapping>
    
</web-app>
