<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">    
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.Phylix.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Cuestionario</servlet-name>
        <servlet-class>com.Phylix.Cuestionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cuestionario</servlet-name>
        <url-pattern>/Cuestionario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Phylix.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Acceder</servlet-name>
        <servlet-class>com.Phylix.Acceder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acceder</servlet-name>
        <url-pattern>/Acceder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Menus</servlet-name>
        <servlet-class>com.Phylix.Menus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menus</servlet-name>
        <url-pattern>/Menus</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CalculoComidas</servlet-name>
        <servlet-class>com.Phylix.CalculoComidas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculoComidas</servlet-name>
        <url-pattern>/CalculoComidas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CrearRutina</servlet-name>
        <servlet-class>com.Phylix.CrearRutina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearRutina</servlet-name>
        <url-pattern>/CrearRutina</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>com.Phylix.Perfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IMC</servlet-name>
        <servlet-class>com.Phylix.IMC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IMC</servlet-name>
        <url-pattern>/IMC</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RutinaspersoCreadas</servlet-name>
        <servlet-class>com.Phylix.RutinaspersoCreadas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RutinaspersoCreadas</servlet-name>
        <url-pattern>/RutinaspersoCreadas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DietaspersoCreadas</servlet-name>
        <servlet-class>com.Phylix.DietaspersoCreadas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DietaspersoCreadas</servlet-name>
        <url-pattern>/DietaspersoCreadas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MisDietas</servlet-name>
        <servlet-class>com.Phylix.MisDietas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MisDietas</servlet-name>
        <url-pattern>/MisDietas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MisRutinas</servlet-name>
        <servlet-class>com.Phylix.MisRutinas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MisRutinas</servlet-name>
        <url-pattern>/MisRutinas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AnadirImagen</servlet-name>
        <servlet-class>com.Phylix.AnadirImagen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnadirImagen</servlet-name>
        <url-pattern>/AnadirImagen</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ImagenPerfil</servlet-name>
        <servlet-class>com.Phylix.ImagenPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImagenPerfil</servlet-name>
        <url-pattern>/ImagenPerfil</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EliminarRutina</servlet-name>
        <servlet-class>com.Phylix.EliminarRutina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarRutina</servlet-name>
        <url-pattern>/EliminarRutina</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EliminarDieta</servlet-name>
        <servlet-class>com.Phylix.EliminarDieta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarDieta</servlet-name>
        <url-pattern>/EliminarDieta</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EliminarPerfil</servlet-name>
        <servlet-class>com.Phylix.EliminarPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarPerfil</servlet-name>
        <url-pattern>/EliminarPerfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificarPerfil</servlet-name>
        <servlet-class>com.Phylix.ModificarPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificarPerfil</servlet-name>
        <url-pattern>/ModificarPerfil</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Progreso</servlet-name>
        <servlet-class>com.Phylix.Progreso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Progreso</servlet-name>
        <url-pattern>/Progreso</url-pattern>
    </servlet-mapping>
    
    
    <display-name>FitData Chatbot</display-name>
        <context-param>
        <param-name>gemini.api.key</param-name>
        <param-value>AIzaSyCBaHESQ_T4jcOADB3d2A66trpcNDEoes0</param-value>
    </context-param>
    
    
    <servlet>
        <servlet-name>IAChatbot</servlet-name>
        <servlet-class>com.Phylix.IAChatbot</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>IAChatbot</servlet-name>
        <url-pattern>/IAChatbot</url-pattern>
    </servlet-mapping>
    
</web-app>