<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	 version="6.0">

    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.Phylix.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>Cuestionario</servlet-name>
        <servlet-class>com.Phylix.Cuestionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cuestionario</servlet-name>
        <url-pattern>/Cuestionario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Phylix.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Menus</servlet-name>
        <servlet-class>com.Phylix.Menus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menus</servlet-name>
        <url-pattern>/Menus</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CalculoComidas</servlet-name>
        <servlet-class>com.Phylix.CalculoComidas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculoComidas</servlet-name>
        <url-pattern>/CalculoComidas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CrearRutina</servlet-name>
        <servlet-class>com.Phylix.CrearRutina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearRutina</servlet-name>
        <url-pattern>/CrearRutina</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>com.Phylix.Perfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IMC</servlet-name>
        <servlet-class>com.Phylix.IMC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IMC</servlet-name>
        <url-pattern>/IMC</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RutinaspersoCreadas</servlet-name>
        <servlet-class>com.Phylix.RutinaspersoCreadas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RutinaspersoCreadas</servlet-name>
        <url-pattern>/RutinaspersoCreadas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RutinasprestCreadas</servlet-name>
        <servlet-class>com.Phylix.RutinasprestCreadas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RutinasprestCreadas</servlet-name>
        <url-pattern>/RutinasprestCreadas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DietaspersoCreadas</servlet-name>
        <servlet-class>com.Phylix.DietaspersoCreadas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DietaspersoCreadas</servlet-name>
        <url-pattern>/DietaspersoCreadas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DietasprestCreadas</servlet-name>
        <servlet-class>com.Phylix.DietasprestCreadas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DietasprestCreadas</servlet-name>
        <url-pattern>/DietasprestCreadas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MisDietas</servlet-name>
        <servlet-class>com.Phylix.MisDietas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MisDietas</servlet-name>
        <url-pattern>/MisDietas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MisRutinas</servlet-name>
        <servlet-class>com.Phylix.MisRutinas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MisRutinas</servlet-name>
        <url-pattern>/MisRutinas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AnadirImagen</servlet-name>
        <servlet-class>com.Phylix.AnadirImagen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnadirImagen</servlet-name>
        <url-pattern>/AnadirImagen</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ImagenPerfil</servlet-name>
        <servlet-class>com.Phylix.ImagenPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImagenPerfil</servlet-name>
        <url-pattern>/ImagenPerfil</url-pattern>
    </servlet-mapping>

    
</web-app>
