<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
    <welcome-file>Phylix.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.Phylix.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet>    
        <servlet-name>Abraham</servlet-name>
        <servlet-class>com.Phylix.Abraham</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Abraham</servlet-name>
        <url-pattern>/Abraham</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Christian</servlet-name>
        <servlet-class>com.Phylix.Christian</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Christian</servlet-name>
        <url-pattern>/Christian</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Karla</servlet-name>
        <servlet-class>com.Phylix.Karla</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Karla</servlet-name>
        <url-pattern>/Karla</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Julieta</servlet-name>
        <servlet-class>com.Phylix.Julieta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Julieta</servlet-name>
        <url-pattern>/Julieta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cuestionario</servlet-name>
        <servlet-class>com.Phylix.Cuestionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cuestionario</servlet-name>
        <url-pattern>/Cuestionario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Phylix.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Acceder</servlet-name>
        <servlet-class>com.Phylix.Acceder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acceder</servlet-name>
        <url-pattern>/Acceder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Rutinas</servlet-name>
        <servlet-class>com.Phylix.Rutinas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rutinas</servlet-name>
        <url-pattern>/Rutinas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dietas</servlet-name>
        <servlet-class>com.Phylix.Dietas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dietas</servlet-name>
        <url-pattern>/Dietas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Informacion</servlet-name>
        <servlet-class>com.Phylix.Informacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Informacion</servlet-name>
        <url-pattern>/Informacion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GrupoMuscular</servlet-name>
        <servlet-class>com.Phylix.GrupoMuscular</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrupoMuscular</servlet-name>
        <url-pattern>/GrupoMuscular</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Menus</servlet-name>
        <servlet-class>com.Phylix.Menus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menus</servlet-name>
        <url-pattern>/Menus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CalculoComidas</servlet-name>
        <servlet-class>com.Phylix.CalculoComidas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculoComidas</servlet-name>
        <url-pattern>/CalculoComidas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrearRutina</servlet-name>
        <servlet-class>com.Phylix.CrearRutina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearRutina</servlet-name>
        <url-pattern>/CrearRutina</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>com.Phylix.Perfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IMC</servlet-name>
        <servlet-class>com.Phylix.IMC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IMC</servlet-name>
        <url-pattern>/IMC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RutinaspersoCreadas</servlet-name>
        <servlet-class>com.Phylix.RutinaspersoCreadas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RutinaspersoCreadas</servlet-name>
        <url-pattern>/RutinaspersoCreadas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DietaspersoCreadas</servlet-name>
        <servlet-class>com.Phylix.DietaspersoCreadas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DietaspersoCreadas</servlet-name>
        <url-pattern>/DietaspersoCreadas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MisDietas</servlet-name>
        <servlet-class>com.Phylix.MisDietas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MisDietas</servlet-name>
        <url-pattern>/MisDietas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MisRutinas</servlet-name>
        <servlet-class>com.Phylix.MisRutinas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MisRutinas</servlet-name>
        <url-pattern>/MisRutinas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AnadirImagen</servlet-name>
        <servlet-class>com.Phylix.AnadirImagen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnadirImagen</servlet-name>
        <url-pattern>/AnadirImagen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImagenPerfil</servlet-name>
        <servlet-class>com.Phylix.ImagenPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImagenPerfil</servlet-name>
        <url-pattern>/ImagenPerfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminarRutina</servlet-name>
        <servlet-class>com.Phylix.EliminarRutina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarRutina</servlet-name>
        <url-pattern>/EliminarRutina</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminarDieta</servlet-name>
        <servlet-class>com.Phylix.EliminarDieta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarDieta</servlet-name>
        <url-pattern>/EliminarDieta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminarPerfil</servlet-name>
        <servlet-class>com.Phylix.EliminarPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarPerfil</servlet-name>
        <url-pattern>/EliminarPerfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModificarPerfil</servlet-name>
        <servlet-class>com.Phylix.ModificarPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificarPerfil</servlet-name>
        <url-pattern>/ModificarPerfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Progreso</servlet-name>
        <servlet-class>com.Phylix.Progreso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Progreso</servlet-name>
        <url-pattern>/Progreso</url-pattern>
    </servlet-mapping>
    <display-name>FitData Chatbot</display-name>
    <context-param>
        <param-name>gemini.api.key</param-name>
        <param-value>AIzaSyCBaHESQ_T4jcOADB3d2A66trpcNDEoes0</param-value>
    </context-param>
    <servlet>
        <servlet-name>IAChatbot</servlet-name>
        <servlet-class>com.Phylix.IAChatbot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IAChatbot</servlet-name>
        <url-pattern>/IAChatbot</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EjecutarPhyton</servlet-name>
        <servlet-class>com.Phylix.EjecutarPhyton</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjecutarPhyton</servlet-name>
        <url-pattern>/EjecutarPhyton</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProgressBar</servlet-name>
        <servlet-class>com.Phylix.ProgressBar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgressBar</servlet-name>
        <url-pattern>/ProgressBar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GuardarDatos</servlet-name>
        <servlet-class>com.Phylix.GuardarDatos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarDatos</servlet-name>
        <url-pattern>/GuardarDatos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.Phylix.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RutinaDelDia</servlet-name>
        <servlet-class>com.Phylix.RutinaDelDia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RutinaDelDia</servlet-name>
        <url-pattern>/RutinaDelDia</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidarRutina</servlet-name>
        <servlet-class>com.Phylix.ValidarRutina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarRutina</servlet-name>
        <url-pattern>/ValidarRutina</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VerificarComida</servlet-name>
        <servlet-class>com.Phylix.VerificarComida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificarComida</servlet-name>
        <url-pattern>/VerificarComida</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FitDataa</servlet-name>
        <servlet-class>com.Phylix.FitDataa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FitDataa</servlet-name>
        <url-pattern>/FitDataa</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Autenticacion</servlet-name>
        <servlet-class>com.Phylix.Autenticacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
</web-app>
